.attributionList {
  list-style-type: none;
}

.attributionListItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "image text";
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.thumbnailWrapper {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 0.25rem;
}

.thumbnailWrapper img[src*="/icons/"] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid var(--accent);
  padding: 0.5rem;
  border-radius: 0.25rem;
  object-fit: contain;
}

.thumbnailVideo,
.thumbnailImage {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}

.thumbnailImage[src*="/icons/"] {
  width: 2rem;
  height: auto;
  text-align: center;
  object-fit: contain;
  border: none;
}

.thumbnailVideo {
  grid-area: image;
  border-radius: 0.25rem;
}

.attributionListItemText {
  grid-area: text;
  margin: 0;
}
