.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid var(--accent);
  border-radius: 0.875rem;
  text-align: center;
  font-family: "Cabin";
  color: var(--primary);
}

.notFoundContainer p {
  text-align: center;
}

@media (min-width: 1025px) {
  .notFoundContainer {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 2rem;
  }
}
