.errorContainer {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: auto;
  align-items: center;
  font-family: "Cabin";
  color: var(--primary);
  font-weight: 900;
  font-size: 1.2rem;
  padding: 1rem 0.5rem;
  text-align: center;
  border: 1px solid var(--accent);
  border-radius: 0.5rem;
  margin: 0 1rem;
}

.errorMessage {
  color: red;
  font-size: 1.3rem;
}

.errorIcons {
  font-size: 8rem;
  color: var(--primary);
}

.errorPictureTag {
  border-radius: 0.5rem;
}

.errorImage {
  width: clamp(12.5rem, 40vw, 80vw);
  height: auto;
  max-height: clamp(9rem, 50vh, 31.25rem);
  object-fit: contain;
  border-radius: 0.5rem;
}

@media screen and (min-width: 580px) {
  .error {
    padding: 2rem;
  }
}
