.legalInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 2rem;
}

.attributionDialog {
  position: fixed;
  bottom: 14%;
  margin: 0 auto;
  padding: 1rem;
  border: none;
  border-radius: 0.925rem;
  background: #fff;
  z-index: 100;
  width: 90%;
  box-shadow: var(--elevation-box-shadow-10);
  max-height: 80vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

h2 {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-family: "cabin";
  text-align: center;
  font-size: 1.5rem;
  text-wrap: balance;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attributionLinksWrapper {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.attributionList {
  text-align: center;
}

.attributionLinksWrapper ul,
.attributionLinksWrapper ul a {
  display: list-item;
  list-style-type: none;
  text-align: left;
  color: var(--primary);
  text-decoration: none;
  font-family: "source-sans-3";
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 650px) {
  .attributionDialog {
    max-width: fit-content;
  }
}
