.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: var(--elevation-shadow-10);
}

.textboxCardMobileTablets {
  display: block;
  padding: 0;
}

.textboxContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  gap: 1.75rem;
  padding: 1rem;
  margin: 0;
}

.textboxContainerShapes {
  grid-column: 1 / 2;
  position: relative;
  padding-top: calc(var(--shape-badge-size) / 2 + 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 0.3rem;
  border-top: 5px solid var(--accent);
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  background-color: var(--surface-solid);
  box-shadow: var(--elevation-box-shadow-10);
  border-top: var(--shape-badge-border) solid var(--accent);
}

.textboxContainerShapes:nth-child(2),
.textboxContainerShapes:nth-child(4) {
  grid-column: 2 / 3;
}

.shapeBadge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.8rem;
  height: 3.8rem;
  background-color: #ffff;
  border: 5px solid var(--accent);
  border-radius: 50%;
  z-index: 4;
  pointer-events: none;
  margin-bottom: 3rem;
}

.textboxContainerShapesIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.9rem;
  height: auto;
  color: var(--accent);
  z-index: 5;
  pointer-events: none;
}

.textbox__para {
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  color: var(--primary);
  padding-top: 2rem;
}

.textbox__text {
  font-family: "cabin";
  font-weight: 600;
  font-size: 1.29rem;
  text-align: center;
}

.textbox__subtext {
  font-family: "source-sans-3";
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  text-wrap: balance;
}

@media screen and (max-width: 330px) {
  .textbox__subtext {
    font-size: 0.84rem;
  }
}

@media screen and (min-width: 680px) {
  .textboxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem 0;
  }

  .textboxContainerShapes {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    height: 10rem;
  }

  .textbox__para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .textbox__text {
    text-align: center;
    font-size: 1.6rem;
  }

  .textbox__subtext {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .textbox {
    margin: 0 auto;
    max-width: 1100px;
  }
}
