.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.sectionCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 2rem 0;
  margin: 1rem;
  background-color: var(--surface);
  box-shadow: var(--elevation-box-shadow-10);
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13rem;
  width: 13rem;
  border: 1px solid var(--accent);
  border-top: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  padding: 1rem;
  text-align: center;
  font-family: "cabin";
  font-weight: 1000;
  font-size: 1.3rem;
  color: var(--primary);
  box-shadow: var(--elevation-box-shadow-08);
  border-radius: 4px;
}

.boxText {
  line-height: 1.4rem;
  margin: 0;
  text-wrap: pretty;
}

.textAccent {
  color: var(--accent);
}

.plainCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 5px solid var(--accent);
  text-align: center;
  overflow: hidden;
  box-shadow: var(--elevation-box-shadow-08);
  font-family: "cabin";
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary);
}

.plainCircleText {
  line-height: 2rem;
  text-wrap: pretty;
  text-align: center;
  padding: 1rem;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .sectionCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 33.5rem;
    min-height: auto;
    margin: 1rem;
    padding: 1rem 0;
  }

  .box,
  .plainCircle {
    margin: 0 auto;
  }
}

@media screen and (min-height:350px) and (max-width: 1024px) {
  .sectionCard {
    margin: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
}
