section {
  padding: 0;
  margin: 0;
}

.linkSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: var(--surface);
  padding: 0;
  overflow: hidden;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  list-style: none;
}

.listItem {
  list-style-type: none;
  flex: 1 1 100%;
  max-width: 100%;
}

.listItemGrid {
  position: relative;
  background-color: var(--surface);
  border-radius: 8px;
  box-shadow: var(--elevation-box-shadow-10);
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "image"
    "heading"
    "subheading"
    "preview";
  text-decoration: none;
  padding: 0;
  overflow: hidden;
}

.listItemOverlay {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.listItemOverlayText {
  display: inline-block;
  background: rgba(250, 193, 5, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(250, 193, 5, 0.19);
  color: var(--primary);
  font-family: "cabin";
  font-weight: 900;
  padding: 0.25rem 0.5rem;
  font-size: 2rem;
  white-space: nowrap;
  width: 100%;
}

.listItemOverlayText--homeOne {
  background: none;
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.2px);
  -webkit-backdrop-filter: blur(13.2px);
  border: none;
}

.listItemGrid > * {
  position: relative;
  z-index: 1;
}

.cardImageWrapperCardImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listItemImageWrapper {
  position: relative;
  grid-area: image;
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.listItemLink {
  display: block;
}

.cardImageWrapperCardImage {
  user-select: none;
}

.listItemLink:hover .listItemImageWrapper::after,
.listItemLink:focus-visible .listItemImageWrapper::after,
.listItemLink:active .listItemImageWrapper::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  contain: strict;
  background-clip: padding-box;
  isolation: isolate;
}

/* 8% opacity */
.listItemLink:hover .listItemImageWrapper::after {
  background-color: rgba(var(--primary-rgb), var(--state-hover-opacity));
  transition: background-color 0.2s ease;
}

/* 10% opacity */
.listItemLink:focus-visible .listItemImageWrapper::after {
  background-color: rgba(var(--primary-rgb), var(--state-focus-opacity));
  transition: background-color 0.2s ease;
}

/* 10% opacity */
.listItemLink:active .listItemImageWrapper::after {
  background-color: rgba(var(--primary-rgb), var(--state-press-opacity));
  transition: background-color 0.1s ease;
}

@media (min-width: 600px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
  }

  .listItem {
    flex: 0 0 calc((100% - 1rem) / 2);
    max-width: calc((100% - 1rem) / 2);
  }

  .listItem:first-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .listItem:first-child .listItemImageWrapper {
    aspect-ratio: 16 / 9;
    max-height: 26.25rem;
  }

  .listItemGrid {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media (min-width: 1025px) {
  .linkSection {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .listItemOverlayText {
    padding: 0.8rem 0;
  }
}
