.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem 2rem 1rem;
  background-color: var(--surface);
  border-radius: 0.5rem;
  box-shadow: var(--elevation-shadow-10);
}

.textboxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 3rem 0.5rem;
  padding: 0.5rem;
}

.textboxContainerShapes {
  flex: 0 0 clamp(8rem, 40vw, calc((100% - 1.75rem) / 2));
  aspect-ratio: auto;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.3rem;
  border-top: var(--shape-badge-border) solid var(--accent);
  border: 1px solid var(--primary);
  background-color: var(--surface);
  box-shadow: var(--elevation-box-shadow-10);
}

.shapeBadge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.8rem;
  height: 3.8rem;
  background-color: #ffff;
  border: 5px solid var(--accent);
  border-radius: 50%;
  z-index: 4;
  pointer-events: none;
  margin-bottom: 3rem;
}

.textboxContainerShapesIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.9rem;
  height: auto;
  color: var(--accent);
  z-index: 5;
  pointer-events: none;
}

.textboxPara {
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  color: var(--primary);
  padding-top: 2rem;
}

.textboxCount,
.textboxText {
  font-family: "cabin";
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

.textboxSubtext {
  font-family: "source-sans-3";
  font-weight: 600;
  text-align: center;
  min-height: 1.4rem;
}

.textboxCount {
  font-size: clamp(1.25rem, 3.5vw, 1.5rem);
}

.textboxText {
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
  text-wrap: pretty;
}

.textboxSubtext {
  font-size: clamp(0.75rem, 2vw, 0.875rem);
}

@media screen and (min-width: 361px) {
  .textboxContainer {
    justify-content: center;
    padding: 1rem;
  }

  .textboxCount {
    font-size: clamp(1.25rem, 4vw, 2rem);
  }

  .textboxText {
    font-size: clamp(1rem, 3vw, 1.29rem);
  }

  .textboxSubtext {
    font-size: clamp(0.875rem, 2vw, 0.875rem);
  }
}

@media screen and (min-width: 800px) {
  .textboxContainer {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: no-wrap;
    gap: 0.5rem;
    padding: 1rem 0;
    margin: 0 1rem;
  }

  .textboxContainerShapes {
    flex: 0 0 clamp(8rem, 10.8rem, 30rem);
    aspect-ratio: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
  }

  .textboxPara {
    gap: 0.5rem;
  }

  .textboxText {
    font-size: 1.6rem;
  }

  .textboxSubtext {
    font-size: 1.2rem;
  }
}

@media (min-width: 1025px) {
  .textbox {
    max-width: 1200px;
    width: 1100px;
    margin: 2rem auto;
    padding: 1rem;
  }
}
