.latestNewsSection {
  background-color: var(--surface);
  font-family: "cabin";
  margin: 0 auto;
}

.latestNewsCardWrapper {
  position: relative;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 0 1rem 0 1rem;
}

.latestNewsCardWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  z-index: 0;
}

.latestNewsHeading {
  color: var(--primary);
  padding-left: 1rem;
  padding: 0;
  font-family: "cabin";
  font-weight: 1000;
  font-size: 2rem;
  position: relative;
  z-index: 1;
  margin: 0;
  text-align: center;
}

.newsList {
  padding: 1rem;
  margin: 0;
  list-style: none;
}

.newsListItem {
  margin-bottom: 0.75rem;
}

.newsListLink {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image text";
  column-gap: 1rem;
  align-items: center;
  border-radius: 0.5rem;
}

.thumbnailWrapper {
  grid-area: image;
  width: 6rem;
  height: 6rem;
}

.thumbnailWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  box-shadow: var(--elevation-box-shadow-05);
}

.linkText {
  grid-area: text;
  color: var(--text-primary);
  font-size: 1rem;
  font-family: "source-sans-3";
  font-weight: 1000;
}

.newsList a {
  color: var(--primary);
  text-decoration: none;
}

.latestNewsButton {
  margin-bottom: 2rem;
}

@media (min-width: 1025px) {
  .latestNewsSection {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 1rem 2rem;
  }
}
